/* =========================
    BASE
========================= */

html, body {
    height: 100%;
    margin: 0;
    background-color: white;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* =========================
    GENERALES
========================= */

.negrita {
    font-weight: bold;
}


/* =========================
    LOGIN
========================= */

.login {
    background-color: #21211e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max(300px, 40vw);
    border-radius: 20px;
    margin: 5rem auto 2rem;
}

.login__logo {
    display: block;
    margin: 20px auto 0;
    max-width: 100px;
    width: 40%;
}

.login__title {
    color: #ececec;
    margin-top: 0.1em;
}

.login__form {
    width: 60%;
    margin: 0 auto;
}

.login__label {
    font-size: 1.3rem;
    display: block;
    color: #ececec;
    margin-bottom: 0.2em;
    font-weight: bold;
}

.login__input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 2em;
    border-radius: 10px;
    background-color: #ececec;
    font-size: 1.2rem;
}

.login__button {
    display: block;
    margin: 0 auto 20px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #128ca0;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.login__button:hover {
    transform: scale(1.1);
    background-color: #ed3124;
}

/* =========================
    MENU
========================= */

.menu {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #191919;
    padding: 2px 1em;
}

.menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 0.5em 1em;
    background-color: #28282B;
    color: white;

    border-radius: 6px;
    transition: 0.2s ease;
}

.menu__item:hover {
    background-color: #ed3124;
    transform: scale(1.05);
    cursor: pointer;
}

.menu__text {
    font-weight: 500;
}

.menu__shortcut {
    color: #737e6e;
    font-weight: bold;
}


/* =========================
    TABLE
========================= */

.table {
    width: 100%;
    border-collapse: collapse;
}

.table__head .table__cell {
    background-color: #28282B;
    color: white;
}

/* Celdas */
.table__cell {
    padding: 0 0.5em;
    border: 1px solid #191919;
    text-align: left;
}

/* Bordes de encabezado */
.table__row--header .table__cell {
    border-right: 1px solid white;
}

.table__row--header .table__cell:first-child {
    border-left: none;
}

.table__row--header .table__cell:last-child {
    border-right: none;
}

/* Quitar bordes exteriores */
.table__cell:first-child {
    border-left: none;
}

.table__cell:last-child {
    border-right: none;
}

/* Iconos */
.table__icon {
    width: 0.8rem;
    transform: translateY(2px);
    filter: invert();
}

#encabezado_codigo {
    width: 10%;
}

#encabezado_pelicula {
    width: 30%;
}

#encabezado_anio {
    width: 4%;
}

#encabezado_clasificacion {
    width: 16%;
}

#encabezado_imdb {
    width: 5%;
}

#encabezado_precio {
    width: 10%;
}

#encabezado_cantidad {
    width: 8%;
}

#encabezado_total {
    width: 10%;
}

/* =========================
    FOOTER
========================= */

.footer__venta {
    height: 100%;
    background-color: #191919;
    padding: 0px;
}

.venta__total {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

#monto-total {
    box-sizing: border-box;
    padding: 0 1em;
    font-size: 3rem;
    margin: 0;
    color: white;
}

.btn-accion-venta {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    padding: 0.5em 2em;
    margin-left: 2em;
    
    font-size: 1.2rem;
    
    background-color: #191919;
    color: white;
    border: 0.5px solid;

    cursor: pointer;
}

#ejecutar-venta-btn {
    border-color: #009472;
    color: #00bf92;
}

#ejecutar-venta-btn:hover {
    background-color: #009472;
    color: white;
}

#cancelar-venta-btn {
    border-color: #dc143c;
    color: #ee234c;
}

#cancelar-venta-btn:hover {
    background-color: #dc143c;
    color: white;
}

#monto-total {
    color: white;
}

.verde {
    color: #00bf92;
}

#moneda {
    color: #737e6e;
    font-size: 1.5rem;
    vertical-align: middle;
}

/*========================
    BARRA DE BÚSQUEDA
==========================*/

.contenedor-barra-busqueda {
    background-color: #191919;
    margin: 0;
    padding: 0;
    border: none;
}

.contenedor-barra-busqueda form{
    display: flex;
    width: 50%;
    margin: 0.1rem auto;
    height: 25px;
}

#btn-buscar {
    flex: 0.01;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#btn-buscar img{
    transform: translateX(-5px);
    height: 100%;
}

#barra__buscador {
    flex: 1;
    padding: 0;
    font-size: 1.5rem;
    font-family: Consolas;
    font-weight: bold;
}